/* основні */
/* root */
:root {
  --maine-color: #2e2f42;
  /* maine is second color */
  --second-color: #434455;
  /* second is main color */
  --accent-color: #4d5ae5;
  --subaccent-color: #404bbf;
  --white-color: #ffffff;
  --subwhite-color: #f4f4fd;
}
/* /root */
/* COMPOMENTS */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-color);
  background-color: var(--white-color);
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* /COMPOMENTS */
/* ===== /основні ===== */
/* ===== header ===== */

/* .page-header {
} */
/* .page-nav {
} */

.header-logo {
  color: var(--maine-color);
}

/* .menu {
}

.menu-item {
} */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--maine-color);
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--subaccent-color);
}

.contact {
  font-style: normal;
}
/* .contact-list {
}
.contact-item {
} */

.contact-link {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--subaccent-color);
}

/* ===== /header ===== */

/* ===== hero ===== */
.hero {
  background-color: var(--maine-color);
}
.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--subaccent-color);
}

/* ===== /hero ====== */

/* ===== advantages ===== */

/* .advantages {
}
.section-title {
} */
/* .advantages-title {
} */
/* .advantages-list {
}
.list {
}
.advantages-item {
} */
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--maine-color);
}
/* .subtitle {
} */
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: var(--second-color); */
}

/* ===== /advantages ===== */
/* ===== doing ===== */
/* .doing {
} */
/* .section-title {
} */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--maine-color);
}
/* .doing-list {
}
.list {
}
.doing-item {
}
.doing-img {
} */

/* ===== /doing ===== */
/* ===== team ===== */
.team {
  background-color: var(--subwhite-color);
}
/* .section-title {
} */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--maine-color);
}
/* .team-list {
}
.list {
} */
.team-item {
  background-color: var(--white-color);
}
/* .team-img {
} */
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--maine-color);
}
/* .subtitle {
} */
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: var(--second-color); */
}
/* ===== /team ===== */
/* ===== footer ===== */
.footer {
  background-color: var(--maine-color);
}
/* .link {
}
.logo {
} */
.footer-logo {
  color: var(--subwhite-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subwhite-color);
}

/* ===== portfolio ===== */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--subwhite-color);
  color: var(--accent-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--subaccent-color);
}

/* .portfolio-list {
}
.list {
}
.portfolio-item {
}
.portfolio-img {
} */
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--maine-color);
}
/* .subtitle {
} */
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
